[submodule "isaacsim/docker_4.5_humble/ros_ws/Universal_Robots_Client_Library"]
	path = isaacsim/docker_4.5_humble/ros_ws/Universal_Robots_Client_Library
	url = https://github.com/UniversalRobots/Universal_Robots_Client_Library.git
[submodule "isaacsim/docker_4.5_humble/ros_ws/Universal_Robots_ROS2_Description"]
	path = isaacsim/docker_4.5_humble/ros_ws/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "isaacsim/docker_4.5_humble/ros_ws/Universal_Robots_ROS2_Driver"]
	path = isaacsim/docker_4.5_humble/ros_ws/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
[submodule "isaacsim/docker_4.5_humble/ros_ws/ur_msgs"]
	path = isaacsim/docker_4.5_humble/ros_ws/ur_msgs
	url = https://github.com/ros-industrial/ur_msgs.git
[submodule "src/Universal_Robots_ROS2_Description"]
	path = src/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "src/Universal_Robots_ROS2_Driver"]
	path = src/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
[submodule "src/Universal_Robots_ROS2_Gazebo_Simulation"]
	path = src/Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation.git
[submodule "src/robotiq_driver_old_20250710_1425"]
	path = src/robotiq_driver_old_20250710_1425
	url = https://github.com/PickNikRobotics/robotiq_85_gripper.git
[submodule "src/ros2_robotiq_gripper"]
	path = src/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
[submodule "src/rosparam_shortcuts"]
	path = src/rosparam_shortcuts
	url = https://github.com/PickNikRobotics/rosparam_shortcuts.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/tylerjw/serial.git
[submodule "src/ur_msgs"]
	path = src/ur_msgs
	url = https://github.com/ros-industrial/ur_msgs.git
